accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
arro3-core
asttokens
attrs
blinker
cachetools
certifi
cffi
charset-normalizer
choreographer
click
cohere
colorama
comm
commentjson
contourpy
cryptography
cycler
dataclasses-json
debugpy
decorator
deprecation
diffusers
diskcache
distro
executing
faiss-cpu
fastapi
fastavro
fastjsonschema
filelock
filetype
fonttools
frozenlist
fsspec
ftfy
geopandas
gitdb
gitpython
google-ai-generativelanguage
google-api-core
google-auth
googleapis-common-protos
gotrue
greenlet
grpcio
grpcio-status
h11
h2
hpack
httpcore
httpx
httpx-sse
huggingface-hub
hyperframe
idna
importlib-metadata
ipykernel
ipython
ipython-pygments-lexers
jedi
jinja2
jiter
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
kaleido
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lark-parser
lida
llmx
logistro
markdown-it-py
markupsafe
marshmallow
matplotlib
matplotlib-inline
matplotlib-venn
mdurl
mizani
mpmath
multidict
mypy-extensions
mysql-connector
mysql-connector-python
narwhals
nbformat
nest-asyncio
networkx
numpy
openai
opencv-python
orjson
ormsgpack
packaging
pandas
parso
patsy
peacasso
pillow
platformdirs
plotly
plotnine
postgrest
prompt-toolkit
propcache
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic-core
pydantic-settings
pydeck
pygments
pyjwt
pymysql
pyodbc
pyogrio
pyparsing
pyproj
python-dateutil
python-decouple
python-dotenv
python-multipart
pytz
pywin32
pyyaml
pyzmq
rapidfuzz
realtime
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rsa
safetensors
scipy
seaborn
setuptools
shapely
shellingham
simplejson
six
smmap
sniffio
sqlalchemy
stack-data
starlette
statsmodels
storage3
streamlit
streamlit-aggrid
streamlit-chat
streamlit-option-menu
strenum
supabase
supafunc
sympy
tabulate
tenacity
thefuzz
tiktoken
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
typer
types-requests
typing-extensions
typing-inspect
typing-inspection
tzdata
urllib3
uvicorn
vegafusion
watchdog
wcwidth
websockets
wordcloud
xxhash
yarl
zipp
zstandard
